<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Scoop-Banking</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css">

    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }

        .container {
            max-width: 1200px;
        }

        .card {
            margin-bottom: 25px;
        }
    </style>

</head>

<body>
    <header>
        <nav class="navbar">
            <h2 class="navbar-brand"><a href="/"><img src="static/favicon.png" alt="Career Scoop Logo"
                        style="width: 50px; height: 50px"; ><strong>Career Scoop</strong></a></h2>
            <input type="checkbox" id="menu-toggler">
            <label for="menu-toggler" id="hamburger-btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="24px" height="24px">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M3 18h18v-2H3v2zm0-5h18V11H3v2zm0-7v2h18V6H3z" />
                </svg>
            </label>
            <ul class="all-links">
                <li><a href="/">Home</a></li>
                <li><a href="/">Career Path</a></li>
                <li><a href="/">Scholarships</a></li>
                <li><a href="/Assessment.html">Assessment</a></li>
                <li><a href="/">About Us</a></li>
                <li><a href="/#contact">Contact Us</a></li>
            </ul>

        </nav>
    </header>


    <section class="container mt-5">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title"><strong>Banking Professional</strong></h3>
                        <p class="card-text">Banking professionals play a crucial role in the financial industry, managing financial transactions, providing financial advice, and contributing to the overall economic stability.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Pathway</h4>
                <ul>
                    <li><strong>Education and Training:</strong> Obtain a bachelor's degree in finance, economics, or a related field. Consider pursuing additional certifications such as Chartered Financial Analyst (CFA) or Certified Financial Planner (CFP).</li>
                </ul>
                <ul>
                    <li><strong>Career Entry:</strong> Begin as a banking associate or intern to gain practical experience. Explore opportunities for advancement within the banking sector.</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Skills and Competencies</h4>
                <ul>
                    <li><strong>Financial Analysis:</strong> Proficiency in analyzing financial data and making informed decisions.</li>
                </ul>
                <ul>
                    <li><strong>Customer Service:</strong> Strong interpersonal and communication skills for client interactions.</li>
                </ul>
                <ul>
                    <li><strong>Risk Management:</strong> Ability to assess and manage financial risks.</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Education Requirements</h4>
                <ul>
                    <li><strong>Bachelor's Degree:</strong> A minimum requirement for entry into the banking profession is a bachelor's degree in finance, economics, business administration, or a related field.</li>
                </ul>
                <ul>
                    <li><strong>Professional Certifications:</strong> Consider obtaining industry-recognized certifications to enhance your credentials and career prospects.</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Specialization</h4>
                <ul>
                    <li><strong>Commercial Banking:</strong> Focus on managing financial transactions for businesses and corporations.</li>
                </ul>
                <ul>
                    <li><strong>Investment Banking:</strong> Specialize in advising clients on financial strategies and managing investment portfolios.</li>
                </ul>
            </div>
        </div>


        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Job Opportunities</h4>
                <ul>
                    <li><strong>Banking Roles:</strong> Explore various roles such as banking associate, loan officer, financial analyst, or branch manager.</li>
                </ul>
                <ul>
                    <li><strong>Career Advancement:</strong> Pursue opportunities for career growth through promotions, further education, and specialization.</li>
                </ul>
            </div>
        </div>
    </section>
    <footer>
        <div>
            <span>Copyright © 2023 All Rights Reserved</span>
            <span class="link">
                <a href="/">Home</a>
                <a href="/#contact">Contact</a>
            </span>
        </div>
    </footer>

</body>

</html>
