<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Scoop-Doctor</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css">

    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }

        .container {
            max-width: 1200px;
        }

        .card {
            margin-bottom: 25px;
            
        }
    </style>

</head>

<body>
    <header>
        <nav class="navbar">
            <h2 class="navbar-brand"><a href="/"><img src="static/favicon.png" alt="Career Scoop Logo" style="width: 50px; height: 50px;"><strong>Career Scoop</strong></a></h2>
            <input type="checkbox" id="menu-toggler">
            <label for="menu-toggler" id="hamburger-btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="24px" height="24px">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 18h18v-2H3v2zm0-5h18V11H3v2zm0-7v2h18V6H3z" />
                </svg>
            </label>
            <ul class="all-links">
                <li><a href="/">Home</a></li>
                <li><a href="/">Career Path</a></li>
                <li><a href="/">Scholarships</a></li>
                <li><a href="/Assessment.html">Assessment</a></li>
                <li><a href="/">About Us</a></li>
                <li><a href="/#contact">Contact Us</a></li>
            </ul>

        </nav>
    </header>

    <section class="container mt-5">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title"><strong>Doctor</strong></h3>
                        <p class="card-text">Doctors play a vital role in the healthcare system, diagnosing and treating illnesses, and promoting overall well-being. They are dedicated to patient care and often specialize in specific medical fields.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Pathway</h4>
                <ul>
                    <li><strong>Education and Training:</strong> Obtain a bachelor's degree in a relevant field. Complete medical school, followed by residency and, if applicable, fellowship in a specialized area.</li>
                </ul>
                <ul>
                    <li><strong>Specialization:</strong> Doctors often choose a specific medical field for specialization, such as cardiology, pediatrics, surgery, etc.</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Fees</h4>
                <ul>
                    <li><strong>Medical School Expenses:</strong> The cost of medical school can vary, and students may incur expenses for tuition, books, and living costs.</li>
                </ul>
                <ul>
                    <li><strong>Residency and Fellowship Costs:</strong> While in residency or fellowship, doctors may face additional expenses related to training and specialization.</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Duration</h4>
                <ul>
                    <li><strong>Medical School Duration:</strong> Typically takes four years to complete medical school after obtaining a bachelor's degree.</li>
                </ul>
                <ul>
                    <li><strong>Residency and Fellowship Duration:</strong> Residency can range from 3 to 7 years, depending on the specialization, and fellowship duration varies.</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Education Requirements</h4>
                <ul>
                    <li><strong>Medical Degree:</strong> A Doctor of Medicine (MD) or Doctor of Osteopathic Medicine (DO) degree is required.</li>
                </ul>
                <ul>
                    <li><strong>License:</strong> Doctors must obtain a medical license to practice, which involves passing exams and meeting state requirements.</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Specialization</h4>
                <ul>
                    <li><strong>Medical Specialization:</strong> Doctors may specialize in various fields such as internal medicine, surgery, pediatrics, psychiatry, etc.</li>
                </ul>
                <ul>
                    <li><strong>Continuing Education:</strong> Continuous learning and staying updated on medical advancements are crucial for doctors.</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Job Opportunities</h4>
                <ul>
                    <li><strong>Medical Practice:</strong> Doctors can work in hospitals, clinics, or establish their private practice.</li>
                </ul>
                <ul>
                    <li><strong>Research and Academia:</strong> Opportunities in medical research, teaching, and academia are available.</li>
                </ul>
            </div>
        </div>
    </section>

    <footer>
        <div>
            <span>Copyright © 2023 All Rights Reserved</span>
            <span class="link">
                <a href="/">Home</a>
                <a href="/#contact">Contact</a>
            </span>
        </div>
    </footer>

</body>

</html>
