<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Scoop-Engineer</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css">

    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }

        .container {
            max-width: 1200px;
        }

        .card {
            margin-bottom: 25px;
        }
    </style>

</head>

<body>
    <header>
        <nav class="navbar">
            <h2 class="navbar-brand"><a href="/"><img src="static/favicon.png" alt="Career Scoop Logo" style="width: 50px; height: 50px"; ><strong>Career Scoop</strong></a></h2>
            <input type="checkbox" id="menu-toggler">
            <label for="menu-toggler" id="hamburger-btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="24px" height="24px">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 18h18v-2H3v2zm0-5h18V11H3v2zm0-7v2h18V6H3z" />
                </svg>
            </label>
            <ul class="all-links">
                <li><a href="/">Home</a></li>
                <li><a href="/">Career Path</a></li>
                <li><a href="/">Scholarships</a></li>
                <li><a href="/Assessment.html">Assessment</a></li>
                <li><a href="/">About Us</a></li>
                <li><a href="/#contact">Contact Us</a></li>
            </ul>

        </nav>
    </header>


    <section class="container mt-5">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title"><strong>Engineer</strong></h3>
                        <p class="card-text">Engineers play a crucial role in designing, developing, and maintaining various structures, systems, and technologies. They are instrumental in shaping the infrastructure and technological advancements of a country.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Pathway</h4>
                <ul>
                    <li><strong>Educational Qualifications:</strong> Pursue a bachelor's degree in engineering from a recognized university. Specialize in a specific engineering field such as Civil, Mechanical, Electrical, Computer, etc.</li>
                </ul>
                <ul>
                    <li><strong>Professional Certification:</strong> Obtain relevant certifications or licenses as per the chosen engineering field.</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Fees</h4>
                <ul>
                    <li><strong>Educational Expenses:</strong> The cost of engineering education in India varies based on the university and specialization chosen. Consider additional expenses for study materials, projects, and internships.</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Duration</h4>
                <ul>
                    <li><strong>Bachelor's Degree Duration:</strong> Typically, a bachelor's degree in engineering takes four years to complete in India.</li>
                    <li>Master's or advanced degrees may require additional years of study.</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Education Requirements</h4>
                <ul>
                    <li><strong>Bachelor's Degree:</strong> A minimum qualification for becoming an engineer is a bachelor's degree in engineering.</li>
                    <li>Choose a specialization based on career interests and industry demand.</li>
                </ul>
                <ul>
                    <li><strong>Internships and Practical Experience:</strong> Gain hands-on experience through internships and practical projects during the course.</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Specialization</h4>
                <ul>
                    <li><strong>Civil Engineering:</strong> Focuses on infrastructure projects like buildings, roads, and bridges.</li>
                    <li><strong>Mechanical Engineering:</strong> Involves designing and manufacturing machinery and mechanical systems.</li>
                    <li><strong>Electrical Engineering:</strong> Deals with electrical systems, circuits, and power distribution.</li>
                    <li><strong>Computer Science Engineering:</strong> Concentrates on software, hardware, and computer systems.</li>
                </ul>
            </div>
        </div>


        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Job Opportunities</h4>
                <ul>
                    <li><strong>Government and Private Sectors:</strong> Engineers can work in both government and private organizations.</li>
                    <li>Opportunities in industries such as construction, IT, manufacturing, and energy.</li>
                </ul>
                <ul>
                    <li><strong>Entrepreneurship:</strong> Start your engineering consultancy or business.</li>
                </ul>
            </div>
        </div>
    </section>
    <footer>
        <div>
            <span>Copyright © 2023 All Rights Reserved</span>
            <span class="link">
                <a href="/">Home</a>
                <a href="/#contact">Contact</a>
            </span>
        </div>
    </footer>

</body>

</html>
